<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			  <div class="container">
			  	<h1 class="text-center">Bienvenido a Picas y Fijas!</h1>
			  	<p class="text-center">Este juego probará tu perecia al adivinar números</p>
			   	<form action="/validar"class="form-inline text-center">
			   		<div class="form-group">
			   			<div class="input-group">
			   				<label for="numero" class="col-sm-2 control-label">Número</label>
			   				<div class="input-group-addon">#</div>
			   					<input type="text" class="form-control" name="numero" placeholder="Ingresa el número">
			   			</div>
			   		</div>
			   		<button type="submit" class="btn btn-primary">Validar</button>
			   	</form>	
			  </div>
			</div>
		</div>
	</div>
</div>
